<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.Security.AccessControl" version="4.7.0" />
  <package id="System.Security.Principal.Windows" version="4.7.0" />
  <package id="Tomlyn" version="0.19.0" manuallyInstalled="true" />
</packages>